{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block mystyles %}
<style>
    .content-section{
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .5), 10px 20px 30px rgba(0, 0, 0, 0.2);
        padding: 3em 5em;
        background: linear-gradient(30deg, #0c13e6, #f506c1);
        color: aliceblue;
    }
    span.asteriskField{
        display: none;
    }
    .alert.alert-block.alert-danger ul{
        margin: 0;
        list-style: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container mt-5">
        <div class="row" style="justify-content: center; align-items: center;">
            <div class="col-lg-6">
                <div class="content-section">
                    <h1 class="display-4 pb-2" style="border-bottom: 1px solid #989947;">Login Here.</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-info">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}